# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
#расчитываем общую вероятность просрочить платёж по кредиту 
total_probability_delinquency = data.debt.mean()
print(f'{total_probability_delinquency:.2%}')

8.12%

In [23]:
#рассчитываем вероятность просрочки по кредиту в зависимости от количества детей в семье
probability_delinquency = data.groupby('children').debt.mean()
probability_delinquency

children
0    0.075438
1    0.092346
2    0.094542
3    0.081818
4    0.097561
5    0.000000
Name: debt, dtype: float64

Предварительные данные выглядят интересно: бездетные имеют более низкую вероятность просрочки, чем средняя вероятность (чуть меньше, чем на 0,6%), а вот люди с 1, 2 и 4 детьми имеют гораздо больше шансов просросить платёж, чем бездетные (разница почти в 2%) или в среднем по всем категориям (на 1,3% больше по медианному значению). Люди с 3 детьми имеют вероятность просрочки сравнимую со средней. А вот с 5 детьми просрочек нет вообще. Выглядит немного странно. Может малое количество детей с 5 детьми и эта категория несущественна (предположение1) или влияет сразу несколько показателей (предположение2).

In [24]:
#проверяем первую идею о малом количестве группы с 5 детьми
number_of_groups = data.groupby('children').children.count()
number_of_groups

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

Подтверждение 1ой гипотезы. Численность групп наводит на мысли о разделении всех людей на бездетных, людей с детьми (1-2 ребёнка) и многодетных (3 и более детей)

In [25]:
#делим всех на бездетных, людей с детьми и многодетных
def family_composition(children):
    if children == 0:
        return 'бездетные'
    elif children <= 2:
        return 'люди с детьми'
    else:
        return 'многодетные'
    
data['type_family'] = data.children.apply(family_composition)
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,type_family
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,люди с детьми
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,люди с детьми
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,бездетные
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,многодетные
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,бездетные
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью,бездетные
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью,бездетные
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования,бездетные
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы,люди с детьми
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью,бездетные

In [26]:
#повторяем расчёт веротности просрочек кредитов с новыми категориями
probability_delinquency_new_groups = data.groupby('type_family').debt.mean()
probability_delinquency_new_groups

type_family
бездетные        0.075438
люди с детьми    0.093003
многодетные      0.081579
Name: debt, dtype: float64

Теперь стало понятно, что действительно наличие детей затрудняет возврат кредита, но как ни странно больше всего влияет не на многодетных, а на людей с 1-2 детьми. Осталась 2 гипотеза: как влияет если есть сразу 2 показателя - скажем: наличие детей и род деятельности.

In [27]:
#проводим расчёт влияния и количества детей и тип заработка на возрат кредита
delinquency = data[['type_family', 'income_type', 'debt']]
delinquency = delinquency.groupby(['type_family', 'income_type']).mean()
delinquency

                                   debt
type_family   income_type
бездетные     безработный      0.000000
              госслужащий      0.068129
              компаньон        0.072043
              пенсионер        0.056410
              предприниматель  0.000000
              сотрудник        0.088226
              студент          0.000000
люди с детьми безработный      1.000000
              в декрете        1.000000
              госслужащий      0.046211
              компаньон        0.078270
              пенсионер        0.057627
              сотрудник        0.107509
многодетные   госслужащий      0.045455
              компаньон        0.060241
              пенсионер        0.142857
              сотрудник        0.093496

Такая сортировка только уточникла проблемные категории. Из них: самые проблемные - ими стали люди с детьми - безработные и в декрете. Проблемные: многодетные пенсионеры, люди с детьми - сотрудники, многодетные - сотрудники, бездетные сотрудники. А также выявила и Беспроблемные категории (на данный момент): бездетные: безработный, предприниматель, студент.

**Вывод:** Да, влияние наличия детей на возврат кредита в срок есть и оно ощутимо. Бездетные займодавцы возвращают кредит легче всего; Сложнее всего приходиться с теми у кого 1-2 ребёнка. А вот при наличии 3 и более детей в семье риски средние. как и писали раньше самые проблемные категории стали: люди с 1-2 детьми при этом безработные или находящиеся в декрете.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [28]:
#группируем данные для поиска зависимости между семейным положением и вероятностью просрочки кредита
delinquency_with_family_status = data.groupby('family_status').debt.mean()
delinquency_with_family_status

family_status
Не женат / не замужем    0.097639
в разводе                0.070648
вдовец / вдова           0.066246
гражданский брак         0.093130
женат / замужем          0.075606
Name: debt, dtype: float64

**Вывод:** Больше всего просрочек у тех кто не был женат/замужем или у тех кто находиться в состоянии гражданского брака. У остальных процент просрочек меньше, чем в среднем. Возможно это возникает из-за тог, что в семье (оформленной юридически) принято поддерживать друг друга и в случае сложностей у одного из супругов другой может помочь ему. А вот в случае тех кто не был женат/замужем такой поддержки нет. С гражданским браком тоже может быть такая же история - и более вероятен раздельный бюджет и позиция: "моя хата с краю, ничего не знаю".

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [29]:
#действуем аналогично и для поиска данной зависимости
delinquency_with_income = data.groupby('total_income_category', as_index=False).agg({'debt': ('mean', 'count', 'sum')})
delinquency_with_income

  total_income_category      debt
                             mean  count   sum
0                     A  0.080000     25     2
1                     B  0.070602   5014   354
2                     C  0.084982  15921  1353
3                     D  0.060172    349    21
4                     E  0.090909     22     2

Пока что можно однозначно сказать, что группы A и E слишком малочисленны на фоне всех остальных и их надо обьединять с другими группами. Наиболее логичным выглядит обьединение с ближайшими соседями и потом снова нужно делать выводы. тогда группу A обьединим с B, а E с D.

In [30]:
#обьединяем малочисленные группы
def change_category(category):
    if category == 'A':
        return 'B'
    elif category == 'E':
        return 'D'
    else:
        return category
    
data['total_income_category'] = data.total_income_category.apply(change_category)

#проверяем успешность обьединения по остаткам групп A и E. Ожидаем 0, если верно.
print(data.query("total_income_category == 'A' | total_income_category == 'E'").total_income_category.count())

0

In [31]:
#повторно анализируем зависимость между уровнем дохода и вероятностью просрочки
new_delinquency_with_income = data.groupby('total_income_category', as_index=False).agg({'debt': ('mean', 'count', 'sum')})
new_delinquency_with_income

  total_income_category      debt
                             mean  count   sum
0                     B  0.070649   5039   356
1                     C  0.084982  15921  1353
2                     D  0.061995    371    23

**Выводы:** После обобщения групп самых богатых и самых бедных мы получили следующий результат: люди с доходом от 50001 до 200000 (группа С) имеет наибольшую вероятность просрочки. И эта вероятность выше средней (примерно на 0,4%). А вот группа самых бедных (до 50000 - сейчас D - ранее E и D) имеет как ни странно наименьший шанс получения просрочки. Вероятно это связано с тем, что когда ты небогатый, то считаешь все деньги более внимательно и лучше следишь за бюджетом, а когда деньги есть и вроде как достаточно, тогда немного ослабляешь контроль за ними (случай группы C).

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [32]:
#найдём вероятность просрочки кредита в зависимости его целей с помощью метода pivot_table()
delinquency_with_purpose_loan = data.pivot_table(index='purpose_category', values='debt', aggfunc=['mean', 'count'])
delinquency_with_purpose_loan

                              mean  count
                              debt   debt
purpose_category
операции с автомобилем    0.093480   4279
операции с недвижимостью  0.072551  10751
получение образования     0.092528   3988
проведение свадьбы        0.079118   2313

**Вывод:** Относительно других выделются просрочки по получению образования и операций с автомобилем. Первое связано с тем, что люди получают образование с целью поиска более подходящей/прибыльной для себя работы и пока человек получит образование и устроиться на работу иногда есть временной лаг - от этого и просрочки могут быть. А в автомобиль иногда приходиться ещё немного вложиться (всякие страховки, обследования, иногда - некоторый ремонт), а потом только использование. А это опять же деньги или же время. С размером категорий вопросов нет - достаточно крупные.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски в данных могут быть из-за того, что данных не было изначально (например: не во всех западных странах у людей есть отчество). Может быть произошедший сбой и часть данных оказалась потеряна. На последок нельзя исключать и человеческий фактор (например, разработчик мог просто забыть указать какие-то значения в таблице).

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* В отличие от среднего значения столбца (тоже вариант заполнения пропущенных значений количественных переменных) не зависит от выбросов - экстремальных отклонений. Например, если есть результаты сдачи экзамена по 100 бальной системе [50, 54, 56, 60, 50, 51, 65, 54] - среднее значение: 55, а теперь кто-то провалит этот экзамен с 5 баллами, то среднее сразу станет 49.4, а с медианой такого не будет - изначальное значение 54. И даже после добавления этого значения оно и останется 54.

### Шаг 4: общий вывод.

Во первых выделим момент: средний процент просрочек по кредитам достигает немногим более 8%. Факторы риска, которые будут влиять на его увеличение можно отметить следующие:
- люди имеющие 1 или 2 детей
- люди не замужем/не женатые или находящиеся в гражданском браке
- люди имеющие средний доход (группа C от 50001 до 200000)
- люди, указавшие  в целях получения кредита операции с автомобилем или с целью получения образования

Наконец, комбинация способов выявила 2 подруппы со 100% вероятностью просрочки кредита - это люди с 1 или 2 детьми и при этом или безработные или находящиеся в декрете.